/* .button{
    gap: 12px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
} */
#subscribe_button{
    background-color: red;
    border:none;
    /* height: 36px; */
    color: white;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    transition: opacity .18s;
    box-shadow: 0px 5px 0px orange;
    margin: 0px 15px 0px 0px;
}
#subscribe_button:hover{
    opacity: .5;
    background-color: white;
    border: 1px solid black;
    color: rgb(2, 45, 236);
}
#join_button{
    border: 1px solid blue;
    background-color: white;
    color: blue;
    border-radius: 8px;
    box-shadow: 5px 0px 0px rgb(131, 122, 106);
    cursor: pointer;
    font-size: 16px;
    margin: 0px 15px 0px 0px;
}
#join_button:hover{
    opacity: .5;
    background-color:rgb(212, 11, 11);
    color: rgb(2, 45, 236);
}
#tweet_button{
    border: 1px solid rgb(3, 3, 3);
    background-color: rgb(31, 173, 255);
    border-radius: 8px;
    box-shadow: 0px 5px 0px rgb(145, 128, 96);
    cursor: pointer;
    font-size: 16px;
}
#tweet_button:hover{
    opacity: .5;
    background-color: bisque;
    color: rgb(0, 0, 0);
}
